# Python artifacts
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Environment files
.env
.env.*
!.env.example

# SQLite db files or local database
*.db

# Editor/project files
*.swp
*.swo
.idea/
.vscode/
